<!DOCTYPE css>

body {
	background-color: yellow;
 }

h1 {
	font-family: Helvetica;
	color: purple;
 }

h2 {
	font-family: Arial;
	color: green;
 }

p {
	background-color: coral;
	font-family: calibri;
	color:blue; 
 }
